# Name: Arnab Das Roll: 17 CSE 2nd Year

### 1) Write a program to get the maximum and minimum value in a dictionary.

In [1]:
try:
    name, points = [], []
    table = {}
    ch = 0
    
    while(ch != 2):
        ch = int(input("Enter choice\n\n1. Enter Cricket Team and points\n2. Display and Exit\n"))

        if ch == 1:
            n = input("Enter name of the Team: ")
            name.append(n)

            p = int(input("Enter the points: "))
            points.append(p)

        if ch == 2:
            print("Thank you!\n")
    
    for i in range (0, len(name)):
        table[name[i]] = points[i]
    
    maxpoints = max(table, key=table.get)
    minpoints = min(table, key=table.get)
    
    print ("Scorecard: ", end = '')
    print (table, end = '\n\n')
    print ("The strongest team is ", maxpoints, end = ' ')
    print (", with highest points ", table[maxpoints])
    print ("The weakest team is, ", minpoints, end = ' ')
    print (", with lowest points ", table[minpoints])
    
except:
    print ("Wrong input!!")

Enter choice

1. Enter Cricket Team and points
2. Display and Exit
1
Enter name of the Team: KKR
Enter the points: 65
Enter choice

1. Enter Cricket Team and points
2. Display and Exit
1
Enter name of the Team: CSK
Enter the points: 98
Enter choice

1. Enter Cricket Team and points
2. Display and Exit
1
Enter name of the Team: MI
Enter the points: 93
Enter choice

1. Enter Cricket Team and points
2. Display and Exit
1
Enter name of the Team: DC
Enter the points: 89
Enter choice

1. Enter Cricket Team and points
2. Display and Exit
2
Thank you!

Scorecard: {'KKR': 65, 'CSK': 98, 'MI': 93, 'DC': 89}

The strongest team is  CSK , with highest points  98
The weakest team is,  KKR , with lowest points  65

### 2) Write a program to store student data in dictionary (name, class, subjects). Remove duplicate entries.

In [2]:
data = {'1': 
   {'name': ['Arnab'], 'class': ['XII'], 'subject': ['Math, Science']},
        '2': 
   {'name': ['Pom'], 'class': ['XII'], 'subject': ['English, Math, Science']},
        '3': 
   {'name': ['Prajeet'], 'class': ['XII'], 'subject': ['Math, Science']},
        '4': 
   {'name': ['Madhu'], 'class': ['XII'], 'subject': ['Math, English']},
        '5': 
   {'name': ['Madhu'], 'class': ['XII'], 'subject': ['English, Math']},
        '6': 
   {'name': ['Shounak'], 'class': ['XII'], 'subject': ['English, Science']},
        '7': 
   {'name': ['Sumi'], 'class': ['XII'], 'subject': ['English, Math, Science']},
        '8': 
   {'name': ['Aniket'], 'class': ['XII'], 'subject': ['English, Math, Science']},
        '9': 
   {'name': ['Subham'], 'class': ['XII'], 'subject': ['Math, Science']},
        '10': 
   {'name': ['Aniket'], 'class': ['XII'], 'subject': ['English, Math, Science']},
        '11': 
   {'name': ['Arijit'], 'class': ['XII'], 'subject': ['Science']}}

result = {}

for key, value in data.items():
    if value not in result.values():
        result[key] = value

print("After ignoring the duplicate values\n")

for key, value in result.items():
    print (key)
    print (value)

After ignoring the duplicate values

1
{'name': ['Arnab'], 'class': ['XII'], 'subject': ['Math, Science']}
2
{'name': ['Pom'], 'class': ['XII'], 'subject': ['English, Math, Science']}
3
{'name': ['Prajeet'], 'class': ['XII'], 'subject': ['Math, Science']}
4
{'name': ['Madhu'], 'class': ['XII'], 'subject': ['Math, English']}
5
{'name': ['Madhu'], 'class': ['XII'], 'subject': ['English, Math']}
6
{'name': ['Shounak'], 'class': ['XII'], 'subject': ['English, Science']}
7
{'name': ['Sumi'], 'class': ['XII'], 'subject': ['English, Math, Science']}
8
{'name': ['Aniket'], 'class': ['XII'], 'subject': ['English, Math, Science']}
9
{'name': ['Subham'], 'class': ['XII'], 'subject': ['Math, Science']}
11
{'name': ['Arijit'], 'class': ['XII'], 'subject': ['Science']}

### 3) Write a Python program to concatenate following dictionaries to create a new one using loop.

In [1]:
try:
    dic1, dic2, dic3, dic = {}, {}, {}, {}
    for i in range (0, 3):
        items = input(f"Enter name and age separated by a comma in dictionary {i + 1}(name:age{int}): ").split(',')

        for item in items:
            key, value = item.split(':')
            value = int(value)
            
            if i == 0:
                if key not in dic1.keys():
                    dic1[key] = value
                else:
                    print (f'The key {key} is repeated and hence ignored.')
            elif i == 1:
                if key not in dic2.keys():
                    dic2[key] = value
                else:
                    print (f'The key {key} is repeated and hence ignored.')
            else:
                if key not in dic3.keys():
                    dic3[key] = value
                else:
                    print (f'The key {key} is repeated and hence ignored.')
    
    print(dic1, dic2, dic3)
    for d in (dic1, dic2, dic3):
        dic.update(d)
    
    print("The combined dictionary is: ", dic)
    
except:
    print ("Wrong input!!")

Enter name and age separated by a comma in dictionary 1(name:age<class 'int'>): Arnab:20,Madhu:18,Prajeet:19
Enter name and age separated by a comma in dictionary 2(name:age<class 'int'>): Pom:20,Shounak:20,Aniket:100
Enter name and age separated by a comma in dictionary 3(name:age<class 'int'>): Triasa:5,Subham:200
{'Arnab': 20, 'Madhu': 18, 'Prajeet': 19} {'Pom': 20, 'Shounak': 20, 'Aniket': 100} {'Triasa': 5, 'Subham': 200}
The combined dictionary is:  {'Arnab': 20, 'Madhu': 18, 'Prajeet': 19, 'Pom': 20, 'Shounak': 20, 'Aniket': 100, 'Triasa': 5, 'Subham': 200}

### 4) Write a Python program to multiply all the items in a dictionary.

In [2]:
d = {'A': 2, 'B': 4, 'C' : 8}
pro = 1

for i in d:    
    pro = pro * d[i]

print(pro)

64

### 5) Write a Python program to sort a dictionary by key.

In [3]:
try:
    d = {}
    items = input("Enter name and age separated by a comma in dictionary (name:age{int}): ").split(',')

    for item in items:
        key, value = item.split(':')
        value = int(value)

        if key not in d.keys():
            d[key] = value
        else:
            print (f'The key {key} is repeated and hence ignored.')

    for i in sorted (d) : 
        print ((i, d[i]), end =' ')
        
except:
    print("Wrong input!!")

Enter name and age separated by a comma in dictionary (name:age{int}): Arnab:20,Madhu:18,Prajeet:19,Pom:20,Shounak:20,Aniket:100
('Aniket', 100) ('Arnab', 20) ('Madhu', 18) ('Pom', 20) ('Prajeet', 19) ('Shounak', 20)

### 6) Write a Python program to check a dictionary is empty or not.

In [4]:
diction = {}

if not bool(diction):
    print ("Dictionary is empty")
else:
    print ("Dictionary is not empty")

Dictionary is empty

### 7) Write a Python program which creates two dictionaries. One that stores conversion values from meters to centimeters and the other that stores the reverse.

In [5]:
dic1 = {'m to mm': 1000, 'm to cm': 100, 'm to dm': 10}
dic2 = {'mm to m': 1 / dic1['m to mm'], 'cm to m': 1 / dic1['m to cm'], 'dm to m': 1 / dic1['m to dm']}

print (dic1)
print (dic2)

{'m to mm': 1000, 'm to cm': 100, 'm to dm': 10}
{'mm to m': 0.001, 'cm to m': 0.01, 'dm to m': 0.1}

### 8) Write a Python program that inverts a dictionary, i.e., it makes key of one dictionary value of another and vice versa.

In [7]:
try:
    d = {}
    items = input("Enter name and age separated by a comma in dictionary(name:age{int}): ").split(',')

    for item in items:
        key, value = item.split(':')
        value = int(value)

        if key not in d.keys():
            d[key] = value
        else:
            print (f'The key {key} is repeated and hence ignored.')
    
    revd = {value : key for (key, value) in d.items()}
    print(revd)
    
except: 
    print("Wrong input!!")

Enter name and age separated by a comma in dictionary(name:age{int}): Pom:20,Prajeet:19,Aniket:100
{20: 'Pom', 19: 'Prajeet', 100: 'Aniket'}

### Questionnaire:


1. What are the advantages of dictionary over list?

Ans. Advantages of dictionary over lists in python are:

        i)   It enhances the readability of the code.

        ii)  Dictionary can hold upto larger spaces than list due to hashing process.

        iii) Dictionaries are pair values and thus are preferable for key-value pair data.

        iv)  Dictionariey is faster than list because the former follows a look up algorithm whereas the later is iterable.